requests==2.26.0
Flask==2.0.2
WTForms==3.0.1
python-dotenv==0.19.2
Jinja2>=3.0
gunicorn~=20.1.0
urllib3<1.27,>=1.21.1
idna<4,>=2.5
certifi>=2017.4.17
charset-normalizer~=2.0.0
click>=7.1.2
itsdangerous>=2.0
Werkzeug>=2.0
setuptools>=3.0
Flask-WTF~=0.15.1
MarkupSafe==2.0.1